@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .selection-screen {
        @apply flex flex-col w-screen justify-center h-screen lg:flex-row;
    }
    
    .selection-card {
        @apply w-full h-full p-5 cursor-pointer md:p-10;
    }

    .selection-card:hover > div {
        transform: scale(1.06);
        opacity: 1;
        filter: drop-shadow(0 0 10em black)
    }
    
    .selection-text {
        @apply text-5xl font-extrabold text-white select-none md:text-9xl;
        transition: transform 200ms ease-in-out
    }
}